@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family:"Montserrat", sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin:0;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

section {
    height: 100vh;
    background-image:url("/assets/images/sample-7.jpg") ;
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 20px;
    left: 30px;
}

footer {
    position: fixed;
    bottom: 50px;
    left: 30px;
}

h1 {
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 700;
}

p {
    margin: 0;
}

a:hover {
    color: #dddddd;
}

.image_2 {
    background-image: url("/assets/images/sample-8.jpg");
    background-color: black;
}

.image_3 {
    background-image: url("/assets/images/sample.jpg");
}

.image_4 {
    background-image: url("/assets/images/sample-2.jpg");
    background-color: black;
}

.image_5 {
    background-image: url("/assets/images/sample-3.jpg");
}

.image_6 {
    background-image: url("/assets/images/sample-4.jpg");
}

.image_7 {
    background-image: url("/assets/images/sample-5.jpg");
}

.image_8 {
    background-image: url("/assets/images/sample-6.jpg");
}

.image_9 {
    background-image: url("/assets/images/sample-9.jpg");
}

.image_10 {
    background-image: url("/assets/images/sample-10.jpg");
}

.image_11 {
    background-image: url("/assets/images/sample-11.jpg");
}

@media (max-width: 600px) {

    header {
        top:20px;
        left: 20px;
    }

    footer {
        bottom: 20px;
        left:20px;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    section {
        height: 75vw;
        background-attachment: scroll;
    }
    
}